<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
	*{
		margin:0;
		padding:0;
	}
	input,button{
		outline: none;
		border:none;
		display: block;
		background: #fff;
		width: 300px;
		height: 30px;
		line-height: 40px;
		margin:10px auto;
		padding:0 8px;
	}
	body{
		background: #eee;
	}
	button{
		background: #ccc;
	}
	</style>
</head>
<body>
<div id="main">
	<input v-model='n'>
	<button @click='count(n)'>结果</button>
	<input v-model='rst'>
</div>
<script type="text/javascript" src='lab/vue.js'></script>
<script type="text/javascript" src='app/cumulative.js'></script>
</body>
</html>